<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetGeneralUserInformation</display-name>
    <servlet-name>GetGeneralUserInformation</servlet-name>
    <servlet-class>AccountInformation.GetGeneralUserInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGeneralUserInformation</servlet-name>
    <url-pattern>/GetGeneralUserInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMessage</display-name>
    <servlet-name>GetMessage</servlet-name>
    <servlet-class>AccountInformation.GetMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessage</servlet-name>
    <url-pattern>/GetMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInteraction</display-name>
    <servlet-name>GetUserInteraction</servlet-name>
    <servlet-class>AccountInformation.GetUserInteraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInteraction</servlet-name>
    <url-pattern>/GetUserInteraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptFriendRequest</display-name>
    <servlet-name>AcceptFriendRequest</servlet-name>
    <servlet-class>InteractiveUser.AcceptFriendRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptFriendRequest</servlet-name>
    <url-pattern>/AcceptFriendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockUser</display-name>
    <servlet-name>BlockUser</servlet-name>
    <servlet-class>InteractiveUser.BlockUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockUser</servlet-name>
    <url-pattern>/BlockUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelRequestFriend</display-name>
    <servlet-name>CancelRequestFriend</servlet-name>
    <servlet-class>InteractiveUser.CancelRequestFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelRequestFriend</servlet-name>
    <url-pattern>/CancelRequestFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAllMesssage</display-name>
    <servlet-name>DeleteAllMesssage</servlet-name>
    <servlet-class>InteractiveUser.DeleteAllMesssage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllMesssage</servlet-name>
    <url-pattern>/DeleteAllMesssage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBlockUser</display-name>
    <servlet-name>DeleteBlockUser</servlet-name>
    <servlet-class>InteractiveUser.DeleteBlockUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlockUser</servlet-name>
    <url-pattern>/DeleteBlockUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFriend</display-name>
    <servlet-name>DeleteFriend</servlet-name>
    <servlet-class>InteractiveUser.DeleteFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriend</servlet-name>
    <url-pattern>/DeleteFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSentByClient</display-name>
    <servlet-name>MessageSentByClient</servlet-name>
    <servlet-class>InteractiveUser.MessageSentByClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSentByClient</servlet-name>
    <url-pattern>/MessageSentByClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRequestFriendToUser</display-name>
    <servlet-name>SendRequestFriendToUser</servlet-name>
    <servlet-class>InteractiveUser.SendRequestFriendToUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRequestFriendToUser</servlet-name>
    <url-pattern>/SendRequestFriendToUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccount</display-name>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>UserActivityWithAccount.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAvata</display-name>
    <servlet-name>ChangeAvata</servlet-name>
    <servlet-class>UserActivityWithAccount.ChangeAvata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAvata</servlet-name>
    <url-pattern>/ChangeAvata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeInteractiveUser</display-name>
    <servlet-name>ChangeInteractiveUser</servlet-name>
    <servlet-class>UserActivityWithAccount.ChangeInteractiveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInteractiveUser</servlet-name>
    <url-pattern>/ChangeInteractiveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>UserActivityWithAccount.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePrivacyInfo</display-name>
    <servlet-name>ChangePrivacyInfo</servlet-name>
    <servlet-class>UserActivityWithAccount.ChangePrivacyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePrivacyInfo</servlet-name>
    <url-pattern>/ChangePrivacyInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeShowStates</display-name>
    <servlet-name>ChangeShowStates</servlet-name>
    <servlet-class>UserActivityWithAccount.ChangeShowStates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeShowStates</servlet-name>
    <url-pattern>/ChangeShowStates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>UserActivityWithAccount.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>UserActivityWithAccount.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAllowNewSession</display-name>
    <servlet-name>CheckAllowNewSession</servlet-name>
    <servlet-class>WebSocket.CheckAllowNewSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAllowNewSession</servlet-name>
    <url-pattern>/CheckAllowNewSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeIntroduce</display-name>
    <servlet-name>ChangeIntroduce</servlet-name>
    <servlet-class>UserActivityWithAccount.ChangeIntroduce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeIntroduce</servlet-name>
    <url-pattern>/ChangeIntroduce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateOnlineClient</display-name>
    <servlet-name>StateOnlineClient</servlet-name>
    <servlet-class>UserActivityWithAccount.StateOnlineClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateOnlineClient</servlet-name>
    <url-pattern>/StateOnlineClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Video</display-name>
    <servlet-name>Video</servlet-name>
    <servlet-class>AccountInformation.Video</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Video</servlet-name>
    <url-pattern>/Video</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVideo</display-name>
    <servlet-name>UserVideo</servlet-name>
    <servlet-class>InteractiveUser.UserVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVideo</servlet-name>
    <url-pattern>/UserVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostUser</display-name>
    <servlet-name>AddPostUser</servlet-name>
    <servlet-class>InteractiveUser.AddPostUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostUser</servlet-name>
    <url-pattern>/AddPostUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPicture</display-name>
    <servlet-name>MyPicture</servlet-name>
    <servlet-class>UserActivityWithAccount.MyPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPicture</servlet-name>
    <url-pattern>/MyPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserPicture</display-name>
    <servlet-name>DeleteUserPicture</servlet-name>
    <servlet-class>UserActivityWithAccount.DeleteUserPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserPicture</servlet-name>
    <url-pattern>/DeleteUserPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePost24H</display-name>
    <servlet-name>DeletePost24H</servlet-name>
    <servlet-class>InteractiveUser.DeletePost24H</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePost24H</servlet-name>
    <url-pattern>/DeletePost24H</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProfile24HPostAndProfilePost</display-name>
    <servlet-name>DeleteProfile24HPostAndProfilePost</servlet-name>
    <servlet-class>UserActivityWithAccount.DeleteProfile24HPostAndProfilePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfile24HPostAndProfilePost</servlet-name>
    <url-pattern>/DeleteProfile24HPostAndProfilePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendPostToClient</display-name>
    <servlet-name>SendPostToClient</servlet-name>
    <servlet-class>InteractiveUser.SendPostToClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPostToClient</servlet-name>
    <url-pattern>/SendPostToClient</url-pattern>
  </servlet-mapping>
</web-app>